body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
main {
    width: 80%;
}

main h1, h2, h3 {
    font-family: 'Arial', sans-serif; /* Cambia la fuente a una de tu gusto */
    color:blue
}
main h1 {
    background-color: #007bff; /* Color de fondo para el h1 */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    color: white; /* Color del texto para el h1 */
}
main h3 {
    color:aqua;
    text-decoration: underline; /* Subrayado para el h3 */
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
    border-radius: 5px;
    
    
}